{% extends 'base.html.twig' %}

{% block hero %}
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        MONTESSORI RESSOURCES
      </h1>
      <h2 class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </h2>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title">
      Nomenclature
    </h1>
    <div class="columns is-centered">
      <div class="column is-half">
        <input class="input is-large" type="text" placeholder="Search">
      </div>
    </div>
  </div>
</section>


<section class="section">
<div class="container">
  <div class="columns is-multiline">
  {% for nomenclature in nomenclatures %}
    <div class="column is-half-widescreen">
      <div class="box">

        <span class="icon is-large is-pulled-right nomenclature-label">
          <i class="fas fa-check-circle fa-3x"></i>
        </span>

        <article class="media">
          <div class="media-left">
            <div class="thumbnails">

              <span class="tag is-rounded is-large nomenclature-image-count">
                {{nomenclature.cards|length}}
              </span>

              {% for card in nomenclature.cards[0:4] %}
              <div class="thumbnail">
                <img src="{{path('image', {'id': card.image.id})}}" alt="{{card.image.name}}" />
              </div>
              {% endfor %}
            </div>
            {% if is_granted("ROLE_USER") %}
            <a href="{{path('card_download', {'id': nomenclature.id})}}" class="button">
              Download
            </a>
            {% endif %}
          </div>
          <div class="media-content">
            <h2 class="title is-2">{{nomenclature.name}}</h2>
            <small>By {{ nomenclature.createdBy.username }}</small>
            <div class="tags">
              <span class="tag">Gospel</span>
              <span class="tag">Chant</span>
              <span class="tag">Religieux</span>
            </div>

            <div class="columns">
              <div class="column">
                <!-- State -->
                <div class="field is-grouped is-grouped-multiline">
                  <div class="control">
                    <div class="tags has-addons">
                      <span class="tag is-dark">Images</span>
                      <span class="tag is-success">Yes</span>
                    </div>
                  </div>

                  <div class="control">
                    <div class="tags has-addons">
                      <span class="tag is-dark">Label</span>
                      <span class="tag is-success">Yes</span>
                    </div>
                  </div>

                  <div class="control">
                    <div class="tags has-addons">
                      <span class="tag is-dark">Description</span>
                      <span class="tag is-success">Yes</span>
                    </div>
                  </div>

                  <div class="control">
                    <div class="tags has-addons">
                      <span class="tag is-dark">Text with gaps</span>
                      <span class="tag is-danger">No</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fas fa-reply" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="like">
                      <span class="icon is-small">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                      </span>
                    </a>
                  </div>
                </nav>
              </div>
            </div>
            <!-- Count -->
            <nav class="level">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Downloads</p>
                  <p class="title is-5">3,456</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Like</p>
                  <p class="title is-5">123</p>
                </div>
              </div>
            </nav>



          </div>
        </article>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
</section>
{% endblock %}
