<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="css/print.css" /> 
    </head>
    <body>
      <main>
        {% set cnt = 0 %}
        {% for card in nomenclature.cards %}

              {% if (cnt %2) == 1 %}
                <div class="box even">
              {% else %}
                <div class="box odd">
              {% endif %}

                {% if env == 'int' %}
                  <img src="{{url('image', {'id': card.image.id})}}" alt="Image">
                {% else %}
                  <img src="uploads/images/{{card.image.name}}" alt="Image">
                {% endif %}
                  <div class="label">
                    <div class="content">{{card.label}}</div>
                  </div>
              </div>
              {% if (cnt %2) == 1 %}
                <div class="clear-fix"></div>
              {% endif %}
             {% set cnt = cnt + 1 %}
 
              {# % if (not loop.last) or (cnt %2) == 0 %}
                <div style="page-break-after: left;"></div>
              {% endif % #}
        {% endfor %}

      </main>
      <footer>
        {{'card_downloaded' | trans}} {{nomenclature.createdBy}}
      </footer>

    </body>
</html>
