{% extends 'base.html.twig' %}

{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">Create a Nomenclature</h1>
        <p>Complete the form below with all nomenclature cards.</p>

        <div class="card-uploader">
            {{ form_start(formNomenclature, {attr: {class: 'card-uploader'} }) }}
                <div class="help is-danger">
                    {{ form_errors(formNomenclature) }}
                </div>

                {{ form_row(formNomenclature.name) }}

                <div class="cards">

                    {% for card in formNomenclature.cards %}

                        <fieldset class="classified-card">
                            <legend>Card</legend>

                            <div class="columns">
                                <div class="column is-one-quarter">
                                    <div class="preview">
                                        {{ form_label(card.image) }}
                                        {{ form_widget(card.image) }}
                                    </div>
                                </div>
                                <div class="column">
                                        <div class="field">
                                            {{ form_label(card.label) }}
                                            {{ form_widget(card.label) }}
                                        </div>
                                        <div class="columns">
                                            <div class="column">
                                                <div class="field">
                                                    {{ form_label(card.description) }}
                                                    {{ form_widget(card.description) }}    
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="field">
                                                    {{ form_label(card.descriptionWithGaps) }}
                                                    {{ form_widget(card.descriptionWithGaps) }}   
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </fieldset>
                    {% endfor %}
                </div>

                <!-- div class="cards" data-prototype="{{ form_widget(formNomenclature.cards.vars.prototype)|e('html_attr') }}"></div -->
            {{ form_end(formNomenclature) }}
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
    <script src="/js/card-uploader.js"></script>
    <script src="/js/exif.js"></script>
{% endblock %}