<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome on Montessori Ressources!{% endblock %}</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    {% block stylesheets %}{% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ path('home') }}">
          <strong>MONTESSORI RESSOURCES</strong>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ path('home') }}">
            Home
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="{{ path('nomenclature_index') }}">
              Nomenclature
            </a>

            <div class="navbar-dropdown">
              <a href="{{ path('nomenclature_index') }}" class="navbar-item">
                Index
              </a>
              {% if is_granted("ROLE_USER") %}
              <a href="{{ path('nomenclature_user') }}" class="navbar-item">
                My Nomenclature
              </a>

              <a href="{{ path('nomenclature_new') }}" class="navbar-item">
                Create a nomenclature
              </a>
              {% endif %}
            </div>
          </div>

          <a class="navbar-item">
            Biblio
          </a>

          <a class="navbar-item">
            Math
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="https://github.com/montessori-ressources/web/issues/new?assignees=&labels=&template=bug_report.md&title=" target="_blank">
                Report an issue
              </a>
              {% if is_granted("ROLE_ADMIN") %}
              <hr class="navbar-divider">
              <a class="navbar-item" href="{{ path('easyadmin') }}">
                Admin
              </a>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">

              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  <a class="button is-light" href="{{ path('fos_user_security_logout') }}">
                      {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} ({{app.user.username}})
                  </a>
              {% else %}
                  <a class="button is-primary" href="{{ path('fos_user_registration_register') }}"><strong>{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</strong></a>
                  <a class="button is-light" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% block hero %}{% endblock %}

    <!-- notifications -->
    <div class="container">
      {% if app.request.hasPreviousSession %}
          {% for type, messages in app.session.flashbag.all() %}
              {% for message in messages %}
              <div class="notification is-warning">
              <button class="delete"></button>
              {{type}}
              {{message}}
              </div>
              {% endfor %}
          {% endfor %}
      {% endif %}
    </div>

    <!-- body -->
    {% block body %}{% endblock %}

    {# The ReactJS container #}
    <div id="root"></div>

    <!-- footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Montessori Ressources</strong> by <a href="https://www.montessori.quebec/">Montessori au Québec</a>. The source code is available on
          <a href="https://github.com/montessori-ressources/web">github</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>

    <!-- javascript -->
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
    </script>
    {% block javascripts %}{% endblock %}
    {# Load the React app from app.js file #}
    {{ encore_entry_script_tags('app') }}
  </body>
</html>
